.cuerpo{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.pokemon-card-container{
  background-color: #f4d77c;
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px black;
  margin-top: 20px;
  
}
img{
  width: 150px;
  height: 150px;
}
.content{
  background-color: #ffe9b3;
  padding: 10px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.background{
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #a78e40, #d5a81e);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

}
.pokemon-name{
  text-align: center;
  font-size: 19px;
  padding: 10px;
}
.pokemon-type{
  background-color: black;
  padding: 5px;
  color: white;
  border-radius: 5px;
  width: 100px;
  display: block;
  text-align: center;
  position: relative;
  top: -60px;
}
.name-type{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-type{
  width: 30px;
  height: 30px;
}
.pokemon-card-container.grey{
  background-color: #9E9E9E;
}
.pokemon-card-container.grey .content{
  background-color: #cbcbcb;
}
.pokemon-card-container.grey .background{
  background: linear-gradient(to right, #858383, #5d5252);
}
.pokemon-card-container.red{
  background-color: #FF9800;
}
.pokemon-card-container.red .content{
  background-color: #dfa866;
}
.pokemon-card-container.red .background{
  background: linear-gradient(to right, #935e10, #5f3800);
}
.pokemon-card-container.blue{
  background-color: #85d4ed;
}
.pokemon-card-container.blue .content{
  background-color: #b6e2f2;
}
.pokemon-card-container.blue .background{
  background: linear-gradient(to right, #619db7, #226987);
}